/* Importing Ubuntu font */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* CSS */

:root{
    --base-color: white;
    --base-variant: #c6c6c6;
    --text-color: black;
	--link-color: blue;
    --link-color-visited: darkblue;
}
.darkMode {
    --base-color: #222222;
    --base-variant: #555;
    --text-color: gainsboro;
    --link-color: red;
    --link-color-visited: crimson;
}

/* Version normale des éléments */

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}
#theme-switch svg {
    fill: var(--base-color);
}
#theme-switch svg:last-child{
    display: none;
}
.darkMode #theme-switch svg:first-child {
    display: none;
}
.darkMode #theme-switch svg:last-child {
    display: block;
}



body {
    background-color: var(--base-color);
    color: var(--text-color);
    text-align: center;
    font-family: "Ubuntu", sans-serif;
}

header #theme-switch{
    background-color: var(--base-variant);
}

.strikethrough {
    text-decoration: line-through;
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-color-visited)
}

.specify {
    color: var(--text-color);
}

.specify:hover {
    text-decoration: none;
}

#video {
    margin-bottom: 8px;
}

.fa-discord {
    color: gray;
    opacity: .5;
}

.fa-youtube {
    color: #FF0000;
}

.fa-brands {
    font-size: x-large;
    margin-top: .3em;
}

.fa-youtube.darkMode {
    color: var(--text-color);
}

.fa-github {
    color: var(--text-color);
}