*{
	background-color: #FCF6F6;
}

#secret{
	font-size: 10px;
}

p{
	font-size: 120%;
}

h1{
	font-size: 180%;
}

h2{
	font-size: 160%;
}

h3{
	font-size: 140%;
}

footer{
	font-size: 80%;
}

.alinea{
	margin-left: 20;
}